@font-face {
  font-family: Alegreya;
  src: url('./assets/Alegreya-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Alegreya;
  src: url('./assets/Alegreya-Bold.ttf');
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #22223a;
  font-family: Alegreya;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10rem;
  border: 1px solid white;
  height: 7px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}